extends layout

include mixins/itemList

block content
  div
    section
      header All Todos
      p #{moment().format('MMMM Do YYYY, h:mm:ss a')}
    +itemList('Incomplete Items',incompleteItems)

    div
        form(action="/addItem" method="GET")
          button.action-button(type="Submit") Add New Item

    div.section-list
      +itemList('Completed Items', completeItems)
