

label, input{
    display: block;
}

.actions{
    display: flex;
}
.actions .btn{
    margin-right: 1rem;
}

td{
    vertical-align: middle;
}
.section-list{
    margin-top: 2rem;
}

.outer-nav{
    background: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1rem;
}